node_modules/
dist/
dist-ssr/
build/
.turbo/
coverage/
*.local
*.tsbuildinfo
.env
.env.*
!.env.example
.DS_Store
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.eslintcache
docker/data/
